@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgb(66, 4, 4) 20%, rgb(102, 2, 2) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  position: relative;
}

body .container {
  flex-direction: column;
  height: 350px;
  width: 75%;
}

.container .stat {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.stat #wordScore {
  display: flex;
}

.stat #WPM {
  position: relative;
  display: inline-block;
}

.stat #WPM span {
  margin-left: 20px;
  position: absolute;
}

.container .contentText {
  width: 100%;
  font-size: 30px;
  color: rgb(160, 160, 160);
  margin-top: 20px;
  position: relative;
}

.contentText .cursor {
  height: 30px;
  width: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 2px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contentText img {
  position: absolute;
  height: 30px;
  width: 30px;
  left: -45px;
  top: 3px;
  cursor: pointer;
  transition: transform 0.4s ease-in, scale 0.4s ease-in;
}

.contentText img:hover {
  transform: scale(120%);
}

body .container-keyboard {
  display: flex;
  justify-content: center;
  align-items: end;
}

.container-keyboard .keyboard {
  bottom: 0;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 15px);
  grid-template-rows: repeat(10, 15px);
  grid-gap: 5px;
}

.keyboard #active, button:hover {
  background-color: white;
  color: rgb(27, 25, 25);
  font-weight: bold;
}
 
.keyboard button {
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  grid-column: span 2;
  grid-row: span 2;
  transition: all 0.5 ease;
  background: transparent;
  font-family: "Roboto";
}

.keyboard button:hover {
  background-color: white;
  color: rgb(27, 25, 25);
  font-weight: bold;
}

.keyboard .backspace {
  grid-column: span 4;
  font-size: 10px;
}

.keyboard .tab {
  grid-column: span 3;
}

.keyboard button[position="BackSlash"] {
  grid-column: span 3;
}

.keyboard .CapsLock {
  grid-column: span 4;
  font-size: 10px;
}

.keyboard #Caps-Active {
  width: 5px;
  height: 5px;
  background-color: rgb(0, 229, 61);
  border-radius: 50%;
  position: absolute;
  transform: translate3d(62px, -18px, 0);
  box-shadow: 0px 0px 5px white;
}

.keyboard .enter {
  grid-column: span 4;
}

.keyboard .shift {
  grid-column: span 5;
}

.keyboard button[position="Ctrl-Left"]{
  grid-column: span 3;
}

.keyboard .Space {
  grid-column: span 13;
}

.keyboard .arrowup {
  grid-row: span 1;
  font-size: 8px;
}

.keyboard .arrowdown {
  grid-row-start: 10;
  grid-column-end: 29;
  font-size: 8px;
}

 /* WYKRES */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.3s ease;
}

#result-window {
  height: 400px;
  width: 70%;
  background-color: rgb(82, 32, 32);
  display: none;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 0 25px black;
  transition: opacity 0.3s ease, transform 0.3s ease;
  flex-wrap: wrap;
  z-index: 2;
}

.score {
  margin-top: 30px;
  height: 75%;
  width: 30%;
  font-weight: bold;
  padding: 0 5% 0 5%;
}

.score span {
  color: rgb(190, 190, 190);
  font-size: 20px;
}

.score p {
  margin-left: 15px;
  font-size: 55px;
  margin-bottom: 20px;
}
#title-Time {
  white-space: nowrap
}

#title-errors {
  margin-bottom: 0;
}

.canvas {
  margin-top: 30px;
  width: 70%;
  padding-right: 30px;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myChart {
  width: 100%;
}

#close-ChartPopup, #close-ScoreTable{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#close-ChartPopup:hover,
#close-ScoreTable:hover {
  transform: scale(130%);
}

/* WYKRES */

@keyframes slideIn {
  0% {
    opacity: 0;
    scale: 0%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.slide-in {
  animation: slideIn 0.3s ease forwards;
}

.blur {
  backdrop-filter: blur(5px);
}

@keyframes slideOut {
  0% {
    opacity: 1;
    scale: 100%;
  }
  100% {
    opacity: 0;
    scale: 0%;
  }
}

.slide-out {
  animation: slideOut 0.3s ease forwards;
}

#save-score {
  position: relative;
  margin-top: 10px;
  color: rgb(160, 160, 160);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#save-score:hover {
  color: white;
}

#send-score {
  display: none;
  position: absolute;
  top: calc(50% + 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 50px;
  background-color: rgb(82, 32, 32);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  box-shadow: 0 0 25px black;
  transition: top 0.3s ease-in-out;
}

#send-score input {
  outline: none;
  background-color: inherit;
  width: 250px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
  color: white;
}

#send-score img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10%, 20% { transform: translateX(-8px); }
  30%, 50%, 70%, 90% { transform: translateX(8px); }
  40%, 60%, 80% { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}

#send-info {
  display: none;
  position: absolute;
  top: calc(50% + 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 50px;
  background-color: rgb(82, 32, 32);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(37, 174, 136);
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 3px;
  z-index: 1;
  box-shadow: 0 0 25px black;
  transition: top 0.2s ease-in;
}

#send-info img {
  width: 30px;
  height: 30px;
}

#ScoreTable {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: rgb(160, 160, 160);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#ScoreTable:hover {
  transform: scale(101%);
  color: white;
}

#ScoreTable-window {
  display: none;
  position: absolute;
  height: 400px;
  width: 70%;
  border-radius: 20px;
  background-color: rgb(82, 32, 32);
  box-shadow: 0 0 25px black;
}

.ScoreTable-window-container {
  width: 100%;
  height: 100%;
}

.ScoreTable-title {
  height: 60px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  margin-right: 40px;
}

.ScoreTable-window-container hr {
  width: 86%;
  margin-left: auto;
  margin-right: 85px;
  display: flex;
  justify-content: center;
}

.table {
  overflow-y: scroll;
  width: 92%;
  margin: auto;
  margin-right: 50px;
  margin-top: 5px;
  height: 70%;
}

table {
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;

}

th, td {
  padding: 8px;
  text-align: left;
  text-align: center;
}

thead {
  position: sticky;
  top: 0;
  background: rgb(102, 40, 40);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

@keyframes openScoreTableAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%) translateX(0%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) translateX(0%) scale(1);
  }
}

.openScoreTableAnimation {
  animation: openScoreTableAnimation 0.3s ease forwards;
}

@keyframes closeScoreTableAnimation {
  0% {
    opacity: 1;
    transform: translateY(0%) translateX(0%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(20%) translateX(0%) scale(0);
  }
}

.closeScoreTableAnimation {
  animation: closeScoreTableAnimation 0.3s ease forwards;
}


@media screen and (max-width: 1100px) {
  .container .stat {
    font-size: 40px;
  }
  .container .contentText {
    font-size: 28px;
  }
  .container-keyboard .keyboard  {
    grid-template-columns: repeat(30, 13px);
    grid-template-rows: repeat(10, 13px);
    grid-gap: 3px;
    border-radius: 3px;
  }
  .keyboard button {
    font-size: 9px;
    border: 1px solid white;
  }
  .keyboard .backspace, .keyboard .CapsLock, .keyboard .arrowright, .keyboard .arrowleft {
    font-size: 6px;
  }
  .keyboard .arrowdown, .keyboard .arrowup {
    font-size: 4px;
  }
  .contentText img {
    height: 25px;
    width: 25px;
    left: -35px;
    top: 3px;
  }
  .contentText .cursor {
    height: 28px;
    width: 2px;
  }
  #ScoreTable {
    font-size: 20px;
  }
  .ScoreTable-title {
    font-size: 22px;
  }
  table, .titleColor {
    font-size: 16px;
  }
  #result-window {
    height: 350px;
  }
  .score span {
    color: rgb(190, 190, 190);
    font-size: 18px;
  }
  .score p {
    margin-left: 15px;
    font-size: 44px;
    margin-bottom: 20px;
  }
  #send-score, #send-info {
    top: calc(50% + 87.5px);
    left: calc(50% - 100px);
    width: 200px;
  }
  #send-score input {
    width: 150px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .container .stat {
    font-size: 30px;
  }
  .container .contentText {
    font-size: 20px;
  }
  .container-keyboard .keyboard  {
    grid-template-columns: repeat(30, 8px);
    grid-template-rows: repeat(10, 8px);
    grid-gap: 2px;
    border-radius: 1px;
  }
  .keyboard button {
    font-size: 6px;
    border: 1px solid white;
  }
  .keyboard .backspace, .keyboard .CapsLock, .keyboard .arrowright, .keyboard .arrowleft {
    font-size: 4px;
  }
  .keyboard .arrowdown, .keyboard .arrowup {
    font-size: 2px;
  }
  .contentText img {
    height: 20px;
    width: 20px;
    left: -25px;
    top: 1px;
  }
  .contentText .cursor {
    height: 18px;
    width: 1px;
  }
  #ScoreTable {
    font-size: 12px;
  }
  .ScoreTable-title {
    font-size: 18px;
  }
  table, .titleColor {
    font-size: 12px;
  }
  #result-window {
    height: 350px;
  }
  .score{
    display: flex;
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
  }
  .score span {
    color: rgb(190, 190, 190);
    font-size: 12px;
    margin: 0;
  }
  .score p {
    margin: 0 10px;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .canvas {
    padding: 0;
    margin: 0;
    height: 40%;
    width: 90%;
  }
  #save-score {
    margin-top: 30px;
  }
}